:root{
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}

.pokeCard {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
    background-image: linear-gradient(to right, var(--dragon), var(--bug));
    list-style: none;
    float: left;
}

.pokeCard .whiteCover{
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    background-color: white;
    height: calc(100% - 26px);
    width: calc(100% - 25px);
    border-radius: 6px;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
    text-align: start;

    transition: background-color 200ms ease;

}


.pokeCard .whiteCover:hover {
    
    background-color: rgb(240, 240, 240);
    
}

.pokeCard .whiteCover:active {
    
    background-color: rgb(210, 210, 210);
}

.pokeCard .whiteCover h1{
    margin: 0;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;

}


.pokeCard .whiteCover h2{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);

}

.pokeCard .whiteCover img{
    width: 80%;
    align-self: center;
}